body {
	background: linear-gradient(rgba(52, 6, 70, 1), rgba(52, 6, 70, 0.7)); 
	color: #ffffcc;
	text-shadow: 2px 1px #202020;
	text-decoration: none;
}

/*.sidebar {
	width: 20%;
	height: 100%;
	background-color: #660066;
	position: fixed;
	left: 0;
}*/

.text {
	padding-left: 50px;
}

.data {
	left: 20%
}

h1, h2 {
	text-align: center;
}

h1 {
	font-family: 'Niconne', cursive;
	font-size: 4em;
}

h2 {
	font-size: 2.5em;
}

h3 {
	font-size: 1.75em;
}

h2, h3 {
	font-family: 'Playfair Display', serif;
}

a {
	color: inherit;
	/*text-decoration: inherit;*/
}



ul {
	list-style-type: none;
}

li {
	font-size: 1.25em;
}

img {
	float: right;
	height: 15%;
	width: 15%;
}


